
@{
    ViewBag.Title = "ErrorResetPassword";
}

<h2 class="fw-bolder text-center">無法進行重設密碼</h2>
<div class="alert alert-danger" role="alert">
    很抱歉，無法進行密碼重設。因為傳入的參數有誤，請您重新操作一次 "忘記密碼" 並點擊 Email 裡的連結。
</div>
