
@{
    ViewBag.Title = "RegisterConfirm";
}

<h2 class="fw-bolder">註冊確認頁</h2>
<div class="container">
    <div class="alert alert-success" role="alert">
        感謝您的註冊，請至您的信箱收取驗證信，並點擊信中的連結以完成註冊。
    </div>
</div>

